body {
  margin: 0;
  box-sizing: border-box;
  font-family: "specimen", Josefin-Sans;
}
.body {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.top {
  width: 100%;
  height: 40%;
  /* background-position: center; */
  /* background-size: 100%; */
  /* background-repeat: no-repeat; */
}
.down {
  width: 100%;
  height: 60%;
}

.content {
  width: 30vw;
  height: auto;
  position: absolute;
  top: 10vh;
  left: 35vw;
}

.header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_text span {
  margin-right: 3px;
}
.header img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.add {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #d4d7f1;
}
.circle:hover {
  border: 1px solid #7aabf4;
}
.add form {
  width: 80%;
  height: 60%;
}
.add input {
  width: 100%;
  height: 100%;
  border: 0;
}
.add input:focus {
  outline: none;
}

.list_container {
  box-shadow: 0px 64px 70px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 64px 70px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 64px 70px -9px rgba(0, 0, 0, 0.75);
  width: 100%;
}
.list {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}
.list:hover .cross_img {
  display: block;
}
.list_icon_container {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list_circle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list_text {
  width: 80%;
}
.cross_img {
  width: 15px;
  height: 15px;
  cursor: pointer;
  display: none;
}

.filter {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 12px;
  color: #97979e;
  border-radius: 5px;
}
.num_left {
  width: 30%;
  display: flex;
  padding-left: 20px;
  justify-content: left;
  align-items: center;
}
.filter_text {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.filter_text_item_light:hover {
  color: #57596e;
  cursor: pointer;
}
.filter_text_item_dark:hover {
  color: white;
  cursor: pointer;
}
.clear {
  width: 30%;
  display: flex;
  justify-content: right;
  padding-right: 20px;
  align-items: center;
  cursor: pointer;
}
.clear_dark:hover {
  color: white;
  cursor: pointer;
}
.clear_light:hover {
  color: #57596e;
  cursor: pointer;
}
.attribution {
  font-size: 10px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 450px) {
  .content {
    left: 5vw;
    width: 90vw;
  }
  .filter {
    font-size: 10px;
  }
  .num_left {
    padding-left: 10px;
  }
  .clear {
    padding-right: 10px;
  }
}
